body, html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    background-color: transparent;
}
#container{
    margin: .5em;
}
#container .notification {
    background-color: #263238;
    color: #fff;
    margin-bottom: .25em;
    padding: .35em;
    border-radius: .25em;
    transition: opacity ease-in-out .5s, height ease-in-out .25s;
    overflow: hidden;
    height: auto;
}

#container .notification .author {
    display: block;
    font-size: 10pt;
    color: rgba(255,255,255,.75);
}

#container .notification.zeroheight{
    height: 0;
    opacity: 0;
}

#container .notification.fade{
    opacity: 0;
}